<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>UC Davis Lost & Found</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/user/splashscreen.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/user/splashscreen.js" defer></script>
  </head>
  
  <body>
    <h1 id="img-container">
      <img id="logo" src="https://cdn.glitch.com/fc5c5561-7913-48ed-95f1-92413f3968f6%2FLogo.png?v=1590727301395">
    </h1>
    
    <div id="maincontainer">
    
      <div id="button-container">
        <div id="finder-cont">
          <div id="finder">
            <p>
              Did you find something?
            </p>
            <p id="finder-button">
              I'm a finder
            </p> 
          </div>
        </div>

        <div id="seeker-cont">
          <div id="seeker">
            <p>
              Or are you looking for something?
            </p>
            <p id="seeker-button">
              I'm a seeker
            </p>
          </div> 
        </div>
        
      </div>
      
    </div>
  </body>
</html>
