body {
    display: flex;
    flex-direction: column;
    background-color: #feebb1;
}

#location-sect {
  position: relative;
  width: 80%;
  padding: 5px;
}

#location-input-box {
    width: 100%;
    height: 25px;
    background: #e5e5e5;
}

.autocomplete {
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

